<h1>MNIST predictor</h1>

<div id="simple-board"></div>

<link rel="stylesheet" href="dist/drawingboard.min.css">

<style>
	#simple-board {
		width: 200px;
		height: 200px;
	}
</style>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../dist/drawingboard.min.js"></script>
<script src="../js/board.js"></script>
<script src="../js/utils.js"></script>
<script src="../js/src.js"></script>
